@import "_variables";

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.otf");
    font-display: block;
}

body {
    font-family: 'Raleway',Georgia, 'Times New Roman', Times, serif;
}

body > .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

//navbar
.navbar {
    padding-top: 25px;
    padding-left: 125px;
    padding-right: 125px;
}

.navbar .navbar-nav a.nav-link {
    font-size: 16px;
    color: $first-color;
    transition: all 0.5s ease;
}

.logo-img img {
    max-width: 50%;
}

.logo {
    transform: rotate(-45deg);
}

.navbar.noTransparrent {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

.navbar.noTransparrent button.navbar-toggler {
    margin: 30px auto;
}

.navbar.noTransparrent button.navbar-toggler span {
    color: $second-color;
}

.navbar.noTransparrent .navbar-brand img {
    width: 80%;
}

.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: $second-color;
}

.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover, .navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #dae413;
    background-color: $second-color;
}

.ml {
    margin-left: 52%;
}

//header
header {
    background-image: url(../images/hero-01.jpg);
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: unset;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    height: 746px;
}

.center-page {
    padding-top: 15%;
}

.background {
    width: 105px;
    height: 121px;
    background-color: #ebeff1;
    margin-left: 46%;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.center-logo {
    padding-top: 4.55rem;
}

.text-logo {
    font-size: 25px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.paragraph {
    font-size: 12px;
    color: $first-color;
    width: 55%;
    margin-left: 23%;
    padding-top: 2%;
    margin-bottom: 1.5rem;
}

.center-page a.button {
    font-size: 12px;
    color: $first-color;
    font-weight: bold;
    text-align: center;
    padding: 8px 30px 8px 30px;
    border-radius: 3px;
    border: 2px solid #f9fbfd;
}

.buttons .sessions .img {
    -webkit-mask-image: url("../images/mouse_scrolling.png");
    mask-image: url("../images/mouse_scrolling.png");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 52% 71%;
    width: 60px;
    height: 51px;
    background-color: $first-color;
    background-size: cover;
    padding-left: 5%;
    position: absolute;
    top: 14.8%;
    right: 41.5rem;
}

.buttons {
    padding-left: 48%;
    padding-top: 14%;
}

.text-scroll {
    color: $first-color;
    text-align: center;
    position: absolute;
    top: 682px;
    font-size: 12px;
    right: 46.9%;
}

//services section

.title h2 {
    font-size: 25px;

    //color: $second-color;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 32px;
}

.title {
    color: $second-color;
    margin-bottom: 9%;
}

#services .title, #team .title, #clints .title {
    margin-top: -120px;
    padding-top: 162px;
}

#services .title h2, #team .title h2, #clints .title h2 {
    margin-top: unset;
}

.title::after {
    content: " ";
    position: absolute;
    width: 30px;
    height: 5px;
    border-bottom: 5px solid $second-color;
    margin-left: -17px;
}

.services .container {
    margin-top: 66px;
}

h4.title2 {
    margin-bottom: 25px;
    font-size: 20px;
    color: rgb(97, 97, 97);
    font-weight: bold;
}

#services .img1 {
    -webkit-mask-image: url("../images/idea.png");
    mask-image: url("../images/idea.png");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 65% 65%;
    width: 87px;
    height: 87px;
    background-color: $third-color;
    background-size: cover;

    //padding-left: 5%;
}

#services .img2 {
    -webkit-mask-image: url("../images/design.png");
    mask-image: url("../images/design.png");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 65% 65%;
    width: 87px;
    height: 87px;
    background-color: $third-color;
    background-size: cover;

    //padding-left: 5%;
}

#services .img3 {
    -webkit-mask-image: url("../images/code.png");
    mask-image: url("../images/code.png");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 65% 65%;
    width: 87px;
    height: 87px;
    background-color: $third-color;
    background-size: cover;

    //padding-left: 5%;
}

.text {
    width: 165px;
    height: 125px;
    font-size: 13px;
    color: rgb(97, 97, 97);
    text-align: center;
    margin-left: 16%;

    //margin-bottom: 225px;
}

.services .container .img {
    // margin-bottom: 16px;
    max-width: 45%;

    //display: inline-block;
    position: absolute;
    right: 27%;
    bottom: 87%;
}

//portfolio
#portfolio {
    background-image: url(../images/hero-02.JPG);
    background-position: top;
    background-size: 115%;
    height: 753px;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(51% 20%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(51% 20%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);

    //-webkit-clip-path: polygon(49% 44%, 100% 34%, 100% 75%, 49% 90%, 0% 75%, 0 34%);
    //clip-path: polygon(49% 44%, 100% 34%, 100% 75%, 49% 90%, 0% 75%, 0 34%);
}

.portfolio-gallery {
    // max-width: 62%;
    margin-top: 22%;

    // margin-left: 19%;
}

.overlay {
    background-color: rgba($color: #212121, $alpha: 0.8);
    position: absolute;
    width: 100%;
    height: 753px;

    //z-index: 10;
}

#portfolio .title, #offices .title, #contact .title {
    color: $first-color;
    position: relative;
    top: 20%;
}

#portfolio .title::after, #offices .title::after, #contact .title::after {
    border-bottom-color: $first-color;
}

/*.plus-img{
    -webkit-mask-image: url(../images/plus-100.png);
    -webkit-mask-repeat: no-repeat;
    width: 60px;
    height: 51px;
    background-color: $second-color;
    background-size: cover;
}*/
/*
.circle{
width: 70px;
height: 70px;
border-radius: 35px;
background-color: #f9fbfd;
}
*/
.portfolio-gallery a .hover {
    background-color: rgba($color: $second-color, $alpha: 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    z-index: 9;
    transition: all .5s ease;
}

.portfolio-gallery a:hover .hover {
    opacity: 1;
}

.portfolio-gallery a .hover i {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: $second-color;
    background-color: #f9fbfd;
    border-radius: 50px;
    padding: 14px;
}

.hover p {
    font-size: 18px;
    color: $first-color;
    font-weight: bold;
    margin-top: 10%;
}

.overlay2 {
    background-color: rgba($color: $second-color, $alpha: 0.4);

    //position: absolute;
    //width: 100%;
    //height: 100%;
}

//team section
#team .text, #offices .text, #clints .text, #contact .text {
    width: 360px;
    height: 45px;
    font-size: 13px;
    color: rgb(97, 97, 97);
    text-align: center;
    margin-left: 28%;
    margin-top: 53px;
    margin-bottom: 64px;
}

#offices .text {
    margin-bottom: 87px;
}

.team-img {
    display: flex;
    flex-wrap: nowrap;
}

.hover1 {
    background-color: rgba($color: $second-color, $alpha: 0.6);
    position: absolute;
    top: 0;
    left: 15px;
    width: 171px;
    height: 169px;
    border-radius: 3px;
    color: #fff;
    opacity: 0;
    z-index: 9;
    transition: all .5s ease;
}

.hover1:hover {
    cursor: pointer;
    opacity: 1;
}

.hover1 i {
    position: relative;
    top: 4em;
    left: 2em;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #2980b9;
    background-color: #f9fbfd;
    border-radius: 50px;
    padding: 10px;
}

.hover1 i:hover {
    background-color: #2980b9;
    color: #f9fbfd;
    transition: all .5s ease;
}

.img-s {
    width: 263px;
    height: 168px;
    border-radius: 3px;
}

.name {
    font-size: 20px;
    color: $second-color;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.job {
    font-size: 15px;
    color: rgb(97, 97, 97);
    text-align: center;
}

//offices
#offices {
    background-image: url(../images/hero-03.jpg);
    background-position: center;
    background-size: cover;
    height: 753px;
    -webkit-clip-path: polygon(51% 20%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(51% 20%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

#offices .text, #contact .text {
    color: $first-color;
    margin-top: 13%;
    margin-left: 36%;
    font-size: 11px;
    width: 360px;
}

#offices .title h2 {
    margin-bottom: 6px;

    // margin-top: 37px;
}

/*.world-img img {
    // max-width: 88%;
    //height: 20em;
}*/

.world-img {
    -webkit-mask-image: url(../images/WorldAtlas.png);
    mask-image: url(../images/WorldAtlas.png);
    -webkit-mask-size: 73% 73%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    // width: 100%;
    height: 23rem;
    box-shadow: 1.5px 2.598px 5px rgba(12, 5, 13, 0.35);
    background-color: #ebeff1;
    margin-top: -4%;
}

.marker {
    font-size: 1rem;
    color: #f9fbfd;
    position: absolute;
    top: 29%;
    right: 81%;
}

.marker2 {
    font-size: 1rem;
    color: #f9fbfd;
    position: absolute;
    top: 23.5%;
    right: 64%;
}

.marker3 {
    font-size: 1rem;
    color: #f9fbfd;
    position: absolute;
    top: 31%;
    right: 59%;
}

.contry {
    font-size: 10px;
    margin-left: 4px;
    position: absolute;
}

/*.marker{
    -webkit-mask-image: (url(../images/marker.png));
    mask-image: (url(../images/marker.png));
    -webkit-mask-size: 4% 9%;
    -webkit-mask-position: 26% -5%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
   // width: 100%;
    height: 22rem;
    background-color: #f9fbfd;
   // margin-top: -4%;
}*/
//Clints

#clints .text {
    width: 360px;
    height: 45px;
    margin-left: 28%;
    color: rgb(97, 97, 97);
}

#clints .title {
    margin-bottom: 5%;
}

.carousel-indicators {
    position: relative;
    margin-bottom: 75px;
    z-index: 5;
}

#carousel-clients {
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators li {
    width: 117px;
    height: 38px;

    //cursor: pointer;
    border: none;
    max-width: 30%;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
    margin-right: 39px;
    margin-left: 0px;
}

.carousel-indicators img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.carousel-indicators::after {
    content: " ";
    position: absolute;
    width: 55rem;
    height: 5px;
    border-bottom: 1px solid #2980b9;
    margin-left: -17px;
    top: 2.5rem;
}

.A::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 14px solid $second-color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -5rem;
    left: -2rem;
}

.B::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 14px solid $second-color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -5rem;
    left: 8rem;
}

.C::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 14px solid $second-color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -5rem;
    left: 18rem;
}

.D::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 14px solid $second-color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -5rem;
    left: 27rem;
}

.E::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 14px solid $second-color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -5rem;
    left: 37rem;
}

.F::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 14px solid $second-color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -5rem;
    left: 47rem;
}

 /*.carousel-indicators li:nth-child(2){
    margin-right: 130px;
    margin-left: 130px;
}*/

.carousel-indicators .active {
    opacity: 1;
    overflow: hidden;
}

.carousel-inner {
    position: relative;
    width: 570px;
    overflow: initial;
    z-index: 10;
}

.p-clinent {
    width: 564px;

    //height: 84px;
    font-size: 16px;
    color: #616161;
    margin-left: 8rem;
}

.client-name {
    color: $second-color;
}

.brand {
    font-weight: bold;
    color: #616161;
}

h6.p-small {
    right: -5rem;
    position: relative;
}

.carousel-control.left {
    left: 4rem;
    position: relative;
    top: -7rem;
}

.carousel-control.right {
    left: 43rem;
    position: relative;
    top: -7rem;
}

.carousel-control {
    background: none;
    color: $second-color;
    font-size: 1em;
    text-shadow: none;
    margin-top: 175px;
}

//CONTACTS
#contact {
    background-image: url(../images/wallpaper.png);
    background-position: center;
    background-position: top;
    background-size: 134%;
    height: 753px;
    -webkit-clip-path: polygon(51% 20%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    clip-path: polygon(51% 20%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

#contact .list-inline-item:not(:last-child) {
    margin-right: 97px;
}

.care {
    -webkit-mask-image: url(../images/phone_office-100.png);
    mask-image: url(../images/phone_office-100.png);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 65% 65%;
    width: 87px;
    height: 87px;
    background-color: $first-color;
    background-size: cover;
}

.email {
    -webkit-mask-image: url(../images/read_message-100.png);
    mask-image: url(../images/read_message-100.png);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 65% 65%;
    width: 87px;
    height: 87px;
    background-color: $first-color;
    background-size: cover;
}

.position {
    position: relative;
    right: -4%;
}

.twitter {
    -webkit-mask-image: url(../images/twitter-100.png);
    mask-image: url(../images/twitter-100.png);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 65% 65%;
    width: 87px;
    height: 87px;
    background-color: $first-color;
    background-size: cover;
}

.facebook {
    -webkit-mask-image: url(../images/facebook-100.png);
    mask-image: url(../images/facebook-100.png);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 65% 65%;
    width: 87px;
    height: 87px;
    background-color: $first-color;
    background-size: cover;
}

.care:hover, .email:hover, .twitter:hover, .facebook:hover {
    background-color: $second-color;
    transition: background-color 0.5s ease;
}

.text-contact {
    font-size: 18px;
    color: $first-color;
    font-weight: bold;
    margin-top: -17px;
}

.info {
    color: rgb(250, 252, 254);
    font-size: 15px;
}

.cc {
    position: relative;
    right: 21%;
}

.c {
    position: relative;
    right: 16%;
}

.e {
    position: relative;
    right: 31%;
}

.t {
    position: relative;
    right: 23%;
}

.ff {
    position: relative;
    right: 12%;
}

.f {
    position: relative;
    right: 18%;
}

.copyright {
    font-size: 15px;
    color: $first-color;
    margin-top: 146px;
}

@media (min-width: 1400px) {
    .container {
        width: 833px;
    }

    // header{
    //    height: 735px;
    //  }

    .center-logo {
        padding-top: 2.55rem;
    }

    .buttons .sessions .img {
        top: 14.8%;
        right: 41.5rem;
        -webkit-mask-size: 52% 71%;
    }

    .text-scroll {
        top: 682px;
        font-size: 12px;
        right: 46.9%;
    }

    .logo-img img {
        max-width: 62%;
        position: relative;
        left: .5rem;
    }

    .services .container {
        margin-top: 135px;
    }

    #portfolio {
        background-size: 100%;
    }

    .portfolio-gallery {
        margin-top: 25%;
    }

    #portfolio .title, #offices .title, #contact .title {
        top: 17%;
        left: .5rem;
    }

    .title h2 {
        margin-top: 69px;
    }

    #services .title h2, #team .title h2, #clints .title h2 {
        margin-top: unset;
    }

    #offices .text, #contact .text {
        margin-top: 12%;
        margin-bottom: 2%;
        margin-left: 38%;
    }

    #offices .text {
        margin-bottom: 87px;
    }

    .world-img {
        margin-top: -10%;
        -webkit-mask-size: 68% 70%;
        -webkit-mask-position: 54% 11%;
    }

    .marker2 {
        top: 24.5%;
        right: 49%;
    }

    .marker {
        top: 30%;
        right: 66%;
    }

    .marker3 {
        top: 33%;
        right: 45%;
    }

    .title {
        margin-bottom: unset;
    }

    #contact .text {
        margin-bottom: 6%;
    }

    #contact {
        background-size: 117%;
        height: 680px;
    }

    .care, .email, .twitter, .facebook {
        -webkit-mask-size: 50% 50%;
    }

    .text-contact {
        margin-top: -29px;
    }

    .copyright {
        margin-top: 80px;
        font-size: 13px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .ml {
        margin-left: 53%;
    }

    .container {
        width: 833px;
    }

    .center-page {
        padding-top: 12%;
    }

    header {
        height: 725px;
    }

    .buttons .sessions .img {
        top: 14.6%;
        position: absolute;
        left: calc(50% - 17px);
    -webkit-mask-size: 52% 64%;
    }

    .text-scroll {
        top: 661px;
        font-size: 12px;
        right: calc(50% - 47px);
    }

    .logo-img img {
        max-width: 62%;
        position: relative;
        left: .5rem;
    }

    .text-logo {
        font-size: 21px;
    }

    .background {
        width: 95px;
        height: 111px;
    }

    .center-page a.button {
        font-size: 12px;
        padding: 10px 34px 10px 34px;
    }

    #offices .text, #contact .text {
        margin-top: 17%;
    }

    #offices {
        background-size: 113%;
    }

    #contact .text {
        margin-bottom: 14%;
    }

    #portfolio {
        background-size: 114%;
    }

    .title h2 {
        margin-top: 42px;
        font-size: 22px;
        margin-bottom: 11px;
    }

    #services .title h2, #team .title h2, #clints .title h2 {
        margin-top: unset;
    }

    .text {
        font-size: 12px;
    }

    #services .img3, #services .img2, #services .img1 {
        -webkit-mask-size: 63% 63%;
    }

    h4.title2 {
        font-size: 18px;
    }

    .portfolio-gallery {
        margin-top: 30%;
    }

    #contact {
        background-size: 128%;
        height: 658px;
    }

    #offices .container {
        width: 703px;
        position: relative;
        left: 7%;
        bottom: 5%;
    }

    .services .container {
        margin-top: 122px;
    }

    #team .row {
        margin-left: -2px;
    }

    .hover1 {
        width: 168px;
        height: 168px;
    }

    #contact .title h2 {
        position: relative;
        left: 1rem;
    }

    #contact .title::after {
        margin-left: 0;
    }

    #contact .text {
        margin-top: 16%;
        margin-left: 38%;
    }

    .care, .email, .twitter, .facebook {
        -webkit-mask-size: 50% 50%;
    }

    .phone1 {
        margin-left: 4.5rem;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 83px;
    }

    .phone1 {
        margin-left: 2.5rem;
    }

    .text-contact {
        margin-top: -29px;
    }

    #contact .text {
        margin-bottom: 6%;
    }

    .copyright {
        margin-top: 73px;
        font-size: 13px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        width: 733px;
    }

    .navbar .navbar-nav a.nav-link {
        font-size: 15px;
    }

    header {
        height: 690px;
        background-size: 137%;
    }

    .buttons .sessions .img {
        top: 14.2%;
        -webkit-mask-size: 35px 35px;
        position: absolute;
    left: calc(50% - 17px);
    }

    .text-scroll {
        top: 626px;
        font-size: 11px;
        right: 45.9%;
    }

    .center-logo {
        position: relative;
        right: -1%;
    }

    .ml {
        margin-left: 49%;
    }

    /*  
      .center-page a.button {
          font-size: 12px;
          padding: 7px 29px 7px 29px;
      } */

    .services .container .img {
        right: 20%;
        bottom: 132px;
    }

    #offices .text, #contact .text {
        margin-top: 17%;
    }

    #contact .text {
        margin-bottom: 9%;
        width: 311px;
        margin-left: 36%;
    }

    #contact .title {
        left: 1rem;
    }

    #portfolio {
        background-size: 129%;
    }

    .title h2 {
        margin-top: 42px;
        font-size: 20px;
        margin-bottom: 7px;
    }

    .title::after {
        height: 3px;
    }

    #team .text {
        font-size: 11px;
        width: 157px;
        height: 84px;
    }

    #team .text {
        width: 360px;
        height: 45px;
        font-size: 11px;
        margin-left: 25%;
        margin-top: unset;
        margin-bottom: 26px;
        position: relative;
        bottom: 2rem;
    }

    #offices .title::after, #portfolio .title::after {
        margin-left: -6px;
    }

    #offices {
        background-size: 125%;
    }

    .services .container {
        margin-top: 122px;
    }

    #services .img3, #services .img2, #services .img1 {
        -webkit-mask-size: 59% 59%;
    }

    h4.title2 {
        font-size: 14px;
        position: relative;
        right: -3%;
        margin-top: -3%;
    }

    .text {
        margin-left: 13%;
    }

    .portfolio-gallery {
        margin-top: 32%;
    }

    .img-s {
        height: 149px;
    }

    #contact {
        background-size: 184%;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 102px;
    }

    .care, .email, .twitter, .facebook {
        height: 70px;
        width: 70px;
        position: relative;
        left: 2rem;
    }

    .text-contact {
        font-size: 13px;
        position: relative;
        right: -30%;
    }

    .cc {
        right: -9%;
    }

    .info {
        font-size: 10px;
        position: relative;
        right: -9%;
    }

    .c {
        position: relative;
        right: -15%;
    }

    .f {
        right: -33%;
    }

    .ff {
        right: -34%;
    }

    #offices .container {
        width: 703px;
        position: relative;
        left: 7%;
        bottom: 5%;
    }

    .world-img {
        -webkit-mask-size: 60% 60%;
        -webkit-mask-position: 26% 27%;
    }

    .marker {
        top: 34%;
        right: 74%;
    }

    .marker2 {
        top: 28.5%;
        right: 59.5%;
    }

    .marker3 {
        top: 35%;
        right: 55.5%;
    }

    #team .row {
        margin-left: -2px;
    }

    #offices .text {
        margin-left: 34%;
    }

    #clints .text {
        margin-left: 25%;
    }

    .carousel-p {
        margin-left: -5rem;
    }

    .carousel-control.left {
        left: 0rem;
    }

    .carousel-control.right {
        left: 37rem;
    }

    .A::before {
        left: -5rem;
    }

    .B::before {
        left: 5rem;
    }

    .C::before {
        left: 15rem;
    }

    .D::before {
        left: 23rem;
    }

    .E::before {
        left: 33rem;
    }

    .F::before {
        left: 43rem;
    }

    .hover1 {
        width: 143px;
        height: 149px;
    }

    .hover1 i {
        padding: 5px;
        top: 4rem;
    }

    .name {
        font-size: 14px;
        margin-top: 10px;
    }

    .job {
        font-size: 12px;
    }

    #contact {
        background-size: 153%;
        height: 632px;
    }

    .copyright {
        margin-top: 83px;
        font-size: 13px;
    }
}

@media (max-width: 1023px) {
    .container {
        width: 733px;
    }

    .navbar .navbar-nav a.nav-link {
        font-size: 15px;
    }

    header {
        height: 690px;
        background-size: 137%;
    }

    .buttons .sessions .img {
        top: 13.9%;
        -webkit-mask-size: 35px 35px;
        right: 29.3rem;
    }

    .text-scroll {
        top: 626px;
        font-size: 11px;
        right: 45.9%;
    }

    .center-logo {
        position: relative;
        right: -1%;
    }

    .ml {
        margin-left: 49%;
    }

    .services .container .img {
        right: 20%;
    }

    #offices .text, #contact .text {
        margin-top: 18%;
        margin-left: 33%;
    }

    #clints .text {
        margin-left: 24%;
    }

    #offices {
        background-size: 127%;
    }

    #contact .text {
        margin-bottom: 11%;
    }

    #team .text {
        margin-left: 24%;
    }

    .carousel-indicators li {
        width: 85px;
    }

    .carousel-indicators::after {
        width: 44rem;
    }

    .carousel-p {
        margin-left: -5rem;
    }

    .carousel-control.left {
        left: 0rem;
    }

    .carousel-control.right {
        left: 37rem;
    }

    .A::before {
        left: 0rem;
    }

    .B::before {
        left: 8rem;
    }

    .C::before {
        left: 15rem;
    }

    .D::before {
        left: 23rem;
    }

    .E::before {
        left: 30rem;
    }

    .F::before {
        left: 40rem;
    }

    #portfolio {
        background-size: 129%;
    }

    .title h2 {
        margin-top: 42px;
        font-size: 20px;
        margin-bottom: 7px;
    }

    .title::after {
        height: 3px;
    }

    .text {
        font-size: 10px;
        width: 157px;
        height: 84px;
    }

    .services .container {
        margin-top: 122px;
    }

    #services .img3, #services .img2, #services .img1 {
        -webkit-mask-size: 59% 59%;
    }

    h4.title2 {
        font-size: 16px;
        position: relative;
        right: -7%;
        margin-top: -2%;
    }

    .portfolio-gallery {
        margin-top: 32%;
    }

    .img-s {
        height: 149px;
    }

    #contact {
        background-size: 184%;
    }

    #contact .text {
        margin-left: 32%;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 114px;
    }

    .care, .email, .twitter, .facebook {
        height: 70px;
        width: 70px;
    }

    .cc {
        right: 19%;
    }

    .text-contact {
        font-size: 13px;
    }

    .info {
        font-size: 10px;
    }

    .f {
        right: 12%;
    }

    #offices .container {
        width: 703px;
        position: relative;
        left: 7%;
        bottom: 5%;
    }

    .world-img {
        -webkit-mask-size: 60% 60%;
        -webkit-mask-position: 35% 54%;
    }

    .marker {
        top: 30%;
        right: 71%;
    }

    .marker2 {
        top: 40.5%;
        right: 56%;
    }

    .marker3 {
        top: 46%;
        right: 52%;
    }

    #team .row {
        margin-left: -2px;
    }

    .hover1 {
        width: 143px;
        height: 149px;
    }

    .hover1 i {
        padding: 5px;
        top: 4rem;
    }

    .name {
        font-size: 14px;
        margin-top: 10px;
    }

    .job {
        font-size: 12px;
    }

    .copyright {
        margin-top: 169px;
    }
}

@media (max-width: 920px) {
    #contact {
        background-size: 205%;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .navbar .navbar-nav a.nav-link {
        font-size: 12px;
    }

    header {
        height: 565px;
        background-size: 124%;
    }

    .logo-img img {
        max-width: 50%;
        position: relative;
        top: -1rem;
    }

    .buttons .sessions .img {
        top: 14.4%;
        -webkit-mask-size: 30px 30px;
        right: 26.1rem;
    }

    .paragraph {
        font-size: 10px;
        padding-top: 0%;
        margin-bottom: .5rem;
    }

    .text-scroll {
        top: 512px;
        font-size: 10px;
        right: 45.9%;
    }

    .center-logo {
        position: relative;
        right: -1%;
    }

    .ml {
        margin-left: 49%;
    }

    .center-page a.button {
        font-size: 7px;
        padding: 4px 18px 4px 18px;
    }

    .container {
        width: 511px;
    }

    .title h2 {
        margin-top: 40px;
        font-size: 16px;
    }

    #services .img3, #services .img2, #services .img1 {
        -webkit-mask-size: 46% 46%;
    }

    h4.title2 {
        font-size: 13px;
        position: relative;
        right: 2%;
        margin-top: -16%;
    }

    .text {
        font-size: 8px;
        width: 88px;
        height: 84px;
    }

    #portfolio {
        background-size: 150%;
        background-position: 14% 5%;
        height: 586px;
    }

    .overlay, #offices {
        height: 586px;
    }

    .portfolio-gallery {
        margin-top: 43%;
    }

    .portfolio-gallery a .hover i {
        font-size: 0.1rem;
        padding: 6px;
        top: 64%;
    }

    .hover p {
        font-size: 11px;
    }

    #team .text, #offices .text {
        margin-left: 17%;
        font-size: 10px;
    }

    .img-s {
        height: 97px;
    }

    .name {
        font-size: 8px;
        margin-top: 6px;
    }

    .job {
        font-size: 9px;
    }

    .hover1 {
        width: 87px;
        height: 97px;
    }

    .hover1 i {
        font-size: 0.2em;
        top: 2.5rem;
    }

    #offices .text {
        margin-left: 43%;
        font-size: 6px;
        width: 22%;
    }

    .world-img {
        -webkit-mask-size: 45% 45%;
        -webkit-mask-position: 37% 12%;
    }

    .contry {
        font-size: 7px;
    }

    .marker {
        top: 22%;
        right: 68%;
    }

    .marker2 {
        top: 19%;
        right: 56.5%;
    }

    .marker3 {
        top: 23%;
        right: 54%;
    }

    #clints .text {
        width: 237px;
        margin-left: 26%;
    }

    .carousel-indicators li {
        width: 66px;
    }

    .carousel-indicators::after {
        width: 37rem;
    }

    .p-clinent {
        font-size: 14px;
        width: 466px;
    }

    h6.p-small {
        font-size: 0.55rem;
    }

    .carousel-p {
        margin-left: -8rem;
    }

    .carousel-control.left {
        left: -2.5rem;
        top: -8rem;
    }

    .carousel-control.right {
        left: 27.5rem;
        top: -8rem;
    }

    .A::before {
        left: 0rem;
    }

    .B::before {
        left: 8rem;
    }

    .C::before {
        left: 15rem;
    }

    .D::before {
        left: 23rem;
    }

    .E::before {
        left: 30rem;
    }

    .F::before {
        left: 40rem;
    }

    #contact {
        height: 405px;
        background-size: 109%;
    }

    #contact .text {
        font-size: 8px;
        width: 237px;
        margin-left: 38%;
        margin-top: 15.5%;
        margin-bottom: 5%;
    }

    #contact .title h2 {
        margin-top: -4px;
        font-size: 16px;
        position: relative;
        left: 0.5rem;
    }

    #contact .title::after {
        margin-left: -7px;
    }

    .care, .email, .twitter, .facebook {
        height: 50px;
        width: 50px;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 35px;
    }

    .phone1 {
        margin-left: 3%;
    }

    .copyright {
        margin-top: 38px;
        font-size: 8px;
    }
}

@media (max-width: 768px) {
    .center-page {
        padding-top: 0%;
    }

    .navbar .navbar-nav a.nav-link {
        font-size: 10px;
    }

    .logo-img img {
        max-width: 34%;
        position: relative;
        left: -7px;
        top: -5px;
    }

    .center-logo {
        padding-top: unset;
        position: relative;
        right: -2%;
        top: 9rem;
        max-width: unset;
    }

    header {
        background-size: 104.5%;
        height: 395px;
    }

    .ml {
        margin-left: 48%;
    }

    .paragraph {
        padding-top: 19%;
        font-size: 6px;
        margin-bottom: 0.3rem;
    }

    .center-page a.button {
        font-size: 7px;
        padding: 4px 14px 4px 14px;
    }

    .buttons .sessions .img {
        top: 10.8%;
        -webkit-mask-size: 30% 30%;
        right: 20.9rem;
    }

    .text-scroll {
        top: 356px;
        font-size: 7px;
        right: 46.5%;
    }

    .container {
        width: 511px;
    }

    .title h2 {
        margin-top: 40px;
        font-size: 16px;
    }

    #services .img3, #services .img2, #services .img1 {
        -webkit-mask-size: 40% 40%;
        -webkit-mask-position-y: 2rem;
    }

    h4.title2 {
        font-size: 12px;
        position: relative;
        right: 2%;
        margin-top: -16%;
    }

    .text {
        font-size: 8px;
        width: 88px;
        height: 84px;
        margin-left: 12%;
    }

    #portfolio {
        background-size: 150%;
        background-position: 14% 5%;
        height: 586px;
    }

    .overlay, #offices {
        height: 586px;
    }

    .portfolio-gallery {
        margin-top: 43%;
    }

    .portfolio-gallery a .hover i {
        font-size: 0.1rem;
        padding: 6px;
        top: 64%;
    }

    .hover p {
        font-size: 11px;
    }

    #team .text, #offices .text {
        margin-left: 17%;
        font-size: 10px;
    }

    .img-s {
        height: 97px;
    }

    .name {
        font-size: 8px;
        margin-top: 6px;
    }

    .job {
        font-size: 9px;
    }

    .hover1 {
        width: 87px;
        height: 97px;
    }

    .hover1 i {
        font-size: 0.2em;
        top: 2.5rem;
    }

    #offices .text {
        margin-left: 40%;
        font-size: 6px;
        width: 22%;
        margin-top: 18%;
        margin-bottom: 63px;
    }

    .world-img {
        -webkit-mask-size: 45% 45%;
        -webkit-mask-position: 37% 12%;
    }

    .contry {
        font-size: 7px;
    }

    .marker {
        top: 22%;
        right: 68%;
    }

    .marker2 {
        top: 19%;
        right: 56.5%;
    }

    .marker3 {
        top: 23%;
        right: 54%;
    }

    #clints .text {
        width: 271px;
        margin-left: 22%;
        font-size: 11px;
    }

    #offices {
        background-size: 132%;
    }

    .carousel-indicators li {
        width: 66px;
    }

    .carousel-indicators::after {
        width: 37rem;
    }

    .p-clinent {
        font-size: 14px;
        width: 466px;
    }

    h6.p-small {
        font-size: 0.55rem;
    }

    .carousel-p {
        margin-left: -8rem;
    }

    .carousel-control.left {
        left: -2.5rem;
        top: -8rem;
    }

    .carousel-control.right {
        left: 27.5rem;
        top: -8rem;
    }

    .A::before {
        left: -4rem;
    }

    .B::before {
        left: 2rem;
    }

    .C::before {
        left: 9rem;
    }

    .D::before {
        left: 15rem;
    }

    .E::before {
        left: 22rem;
    }

    .F::before {
        left: 28rem;
    }

    #contact {
        height: 405px;
        background-size: 130%;
    }

    #contact .text {
        font-size: 8px;
        width: 237px;
        margin-left: 35%;
        margin-top: 19%;
        margin-bottom: 5%;
    }

    #contact .title h2 {
        margin-top: -4px;
        font-size: 16px;
        position: relative;
        left: 0.5rem;
    }

    #contact .title::after {
        margin-left: -7px;
    }

    .care, .email, .twitter, .facebook {
        height: 50px;
        width: 50px;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 35px;
    }

    .phone1 {
        margin-left: 3%;
    }

    .copyright {
        margin-top: 38px;
        font-size: 8px;
    }
}

@media (max-width: 767px) {
    ul.navbar-nav.ml {
        margin-left: 77%;
    }

    .navbar-toggler {
        color: $first-color;
    }

    .navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
        color: #dae413;
        background-color: #2980b9;
        width: 31%;
        padding-right: 41%;
        padding-left: 5%;
        border-radius: 3px;
    }

    .navbar.noTransparrent button.navbar-toggler span {
        position: relative;
        bottom: 2rem;
    }

    .logo {
        position: relative;
        top: -1rem;
    }

    .container-fluid .navbar {
        padding-bottom: 0;
    }

    .logo-img img {
        max-width: 32%;
    }

    .text-scroll {
        top: 357px;
        right: 46.7%;
    }

    .buttons .sessions .img {
        top: 9.6%;
        right: 20.9rem;
    }

    #services .img3, #services .img2, #services .img1 {
        -webkit-mask-size: 44% 40%;
        -webkit-mask-position-y: 0.5rem;
    }

    #team .text {
        width: 323px;
    }

    #offices .text {
        margin-top: 19%;
        margin-left: 39%;
    }

    .services .container .img {
        right: 36%;
        bottom: 59%;
    }

    .title::after {
        margin-left: -9px;
    }

    h4.title2 {
        font-size: 11px;
        position: relative;
        right: 0%;
        top: 0.5rem;
        margin-top: unset;
    }

    #services p.text {
        font-size: 8px;
        width: 128px;

        //margin-top: 5rem;
        margin-left: 10rem;
        margin-bottom: 3rem;
    }

    #services .title {
        margin-bottom: -4%;
    }

    #clints .text {
        margin-bottom: 94px;
    }
}

@media (max-width: 700px) {
    header {
        background-size: 113.5%;
    }

    .logo-img img {
        top: -15px;
    }

    .buttons .sessions .img {
        top: 9.6%;
        right: 18.7rem;
    }

    .text-scroll {
        top: 361px;
        right: 46.1%;
    }

    .overlay {
        height: 583px;
    }

    .A::before, .B::before, .C::before, .D::before, .E::before, .F::before {
        border-top: 6px solid $second-color;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: -4.9rem;
    }

    #contact, #contact .overlay {
        height: 450px;
    }

    #contact {
        background-size: 157%;
    }

    #contact .text {
        margin-top: 17%;
        margin-bottom: 7%;
    }

    #contact .title h2 {
        margin-top: 37px;
    }

    .copyright {
        margin-top: 51px;
        font-size: 9px;
    }

    .text-contact {
        margin-bottom: -9%;
    }
}

@media (max-width: 699px) and (min-width: 600px) {
    header {
        height: 323px;
        background-size: 108.5%;
    }

    .logo-img img {
        top: -50px;
        right: -3%;
    }

    .paragraph {
        position: relative;
        top: -1rem;
    }

    .center-page a.button {
        position: relative;
        top: -1rem;
    }

    .buttons .sessions .img {
        top: 7.8%;
        right: 15.7rem;
        -webkit-mask-size: 33% 33%;
    }

    .text-scroll {
        top: 287px;
        right: 45.6%;
        font-size: 7px;
    }

    .title::after {
        width: 22px;
    }

    #services .img3, #services .img2, #services .img1 {
        -webkit-mask-size: 44% 40%;
        -webkit-mask-position: 0.2rem 0rem;
    }

    #portfolio .title, #contact .title {
        left: 2%;
    }

    #portfolio .title::after {
        margin-left: -14px;
    }

    #offices .title {
        left: 1%;
    }

    #offices .text {
        margin-top: 24%;
        margin-left: 34%;
        font-size: 8px;
        width: 33%;
        margin-bottom: 52px;
    }

    #offices {
        background-size: 148%;
    }

    .carousel-indicators li {
        width: 47px;
        height: 28px;
    }

    .carousel-indicators::after {
        width: 31rem;
        top: 1.5rem;
    }

    .A::before, .B::before, .C::before, .D::before, .E::before, .F::before {
        border-top: 6px solid $second-color;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: -5.3rem;
    }

    .A::before {
        left: -1rem;
    }

    .B::before {
        left: 4rem;
    }

    .C::before {
        left: 10rem;
    }

    .D::before {
        left: 15rem;
    }

    .E::before {
        left: 21rem;
    }

    .F::before {
        left: 26rem;
    }

    .p-clinent {
        font-size: 10px;
        width: 296px;
        position: relative;
        bottom: 2.5rem;
        margin-left: 13.5rem;
    }

    .carousel-control.left {
        left: 3rem;
        top: -8rem;
        font-size: 11px;
    }

    .carousel-control.right {
        left: 23.5rem;
        top: -8rem;
        font-size: 11px;
    }

    h6.p-small {
        right: -7rem;
        position: relative;
        bottom: 2.5rem;
    }

    #contact .text {
        margin-top: 19%;
        margin-bottom: 5%;
        margin-left: 32%;
    }

    #contact .title::after {
        margin-left: -20px;
    }

    #contact {
        background-size: 166%;
        height: 400px;
    }

    #contact .overlay {
        height: 400px;
    }

    #contact .title h2 {
        left: -0.5rem;
    }

    .care, .email, .twitter, .facebook {
        height: 40px;
        width: 40px;
    }

    .text-contact {
        font-size: 8px;
        margin-top: -9px;
    }

    #contact .list-inline {
        position: relative;
        left: 2rem;
    }

    .copyright {
        font-size: 8px;
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0;
        margin-right: 15px;
        margin-left: 15px;
    }

    .navbar-toggleable-sm > .container {
        width: 388px;
    }

    .logo img {
        max-width: 70%;
    }

    .navbar-toggler-right {
        right: 3rem;
    }

    header {
        height: 323px;
        background-size: 108.5%;
    }

    .logo-img img {
        top: -50px;
        right: -3%;
    }

    .paragraph {
        padding-top: 20%;
        position: relative;
        top: -1rem;
    }

    .center-page a.button {
        position: relative;
        top: -1rem;
        font-size: 6px;
        padding: 3px 14px 3px 14px;
    }

    .center-page a.button {
        border: 1px solid #f9fbfd;
        top: -1.4rem;
    }

    .buttons .sessions .img {
        top: 8.7%;
        right: 14.9rem;
        -webkit-mask-size: 26% 29%;
    }

    .text-scroll {
        top: 291px;
        right: 46.6%;
        font-size: 6px;
    }

    #services .img3, #services .img2, #services .img1 {
        position: relative;
        left: .8rem;
    }

    .title::after {
        border-bottom: 3px solid #2980b9;
        margin-left: -13px;
        top: 19px;
    }

    #services .title::after {
        top: 24rem;
    }

    #team .title::after {
        margin-left: 0px;
        top: 181px;
    }

    h4.title2 {
        font-size: 10px;
        right: -3.3%;
    }

    .services .container {
        margin-top: 100px;
    }

    #services p.text {
        margin-left: 12rem;
        margin-bottom: unset;
    }

    #services p.text:not(last-child) {
        margin-bottom: 3rem;
    }

    #portfolio .title h2 {
        margin-top: 14px;
    }

    .portfolio-gallery {
        margin-top: 48%;
        display: flex;
        flex-wrap: nowrap;
        max-width: 80%;
    }

    .img-fluid {
        position: relative;
        top: -6rem;
        right: -4.5rem;
        max-width: 100%;
    }

    #contact .container {
        width: 524px;
    }

    .portfolio-gallery a .hover {
        top: -96px;
        left: 72px;
    }

    .overlay {
        height: 583px;
    }

    #portfolio .overlay {
        height: 617px;
    }

    header {
        background-size: 115%;
    }

    #portfolio {
        background-size: 162%;
        background-position: 19% 113%;
        height: 617px;
        -webkit-clip-path: polygon(49% 16%, 100% 0, 99% 82%, 49% 100%, 0 83%, 0 0);
        clip-path: polygon(49% 16%, 100% 0, 99% 82%, 49% 100%, 0 83%, 0 0);
    }

    #team .title h2 {
        position: relative;
        right: -1rem;
    }

    #team .row {
        margin-left: -2px;
        display: flex;
        flex-wrap: nowrap;
        max-width: 97%;
    }

    #team .title {
        margin-bottom: 8%;
    }

    #team .text {
        margin-top: 44px;
        margin-left: 22%;
    }

    .img-s {
        max-width: 100%;
        position: relative;
        left: 2rem;
        top: -3rem;
    }

    #team .name {
        margin-top: -41px;
        position: relative;
        left: 2rem;
    }

    #team .job {
        position: relative;
        left: 2rem;
    }

    #offices {
        height: 489px;
        background-size: 147%;
    }

    #offices .title h2 {
        margin-top: 11px;
        margin-bottom: 135px;
        font-size: 16px;
        position: relative;
        left: 0.1rem;
    }

    #offices .text {
        margin-left: 40%;
    }

    .world-img {
        -webkit-mask-size: 45% 45%;
        -webkit-mask-position: 20% 3%;
    }

    .marker {
        top: 17.5%;
        right: 78%;
    }

    .marker2 {
        top: 14%;
        right: 66.5%;
    }

    .marker3 {
        top: 18.5%;
        right: 63.5%;
    }

    #clints .title h2 {
        margin-top: unset;
        font-size: 16px;
        position: relative;
        left: 1rem;
    }

    #clints .title::after {
        margin-left: 4px;
        top: 11.4rem;
    }

    #clints .text {
        margin-top: 36px;
        margin-left: 27%;
        font-size: 12px;
    }

    .carousel-indicators li {
        width: 56px;
        margin-right: 11px;

        //height: 21px;
   
    }

    .carousel-indicators::after {
        width: 24rem;
        margin-left: -4.5px;
        top: 1rem;
    }

    .carousel-indicators {
        margin-left: 28%;
        margin-bottom: 28px;
    }

    .carousel-indicators img {
        position: absolute;
        width: 100%;
        height: 46%;
    }

    .A::before, .B::before, .C::before, .D::before, .E::before, .F::before {
        border-top: 8px solid $second-color;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        position: absolute;
        top: -3.5rem;
    }

    .A::before {
        left: 6rem;
    }

    .B::before {
        left: 10rem;
    }

    .C::before {
        left: 14rem;
    }

    .D::before {
        left: 18rem;
    }

    .E::before {
        left: 23rem;
    }

    .F::before {
        left: 27rem;
    }

    .p-clinent {
        font-size: 9px;
        width: 254px;
        margin-left: 18rem;
    }

    .fa-3x {
        font-size: 2em;
    }

    .carousel-control.right {
        left: 25.5rem;
        top: -6rem;
    }

    .carousel-control.left {
        left: 7.5rem;
        top: -6rem;
    }

    h6.p-small {
        right: -9rem;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 32px;
    }

    #contact, #contact .overlay {
        height: 375px;
    }

    #contact {
        background-size: 173%;
    }

    #contact .text {
        margin-top: 18%;
        margin-bottom: 7%;
        margin-left: 31%;
    }

    .care, .email, .twitter, .facebook {
        height: 40px;
        width: 40px;
    }

    .phone1 {
        margin-left: 4.5rem;
    }

    .copyright {
        margin-top: 41px;
        font-size: 9px;
    }

    .text-contact {
        margin-bottom: -13%;
        margin-top: -13px;
        font-size: 11px;
    }

    .info {
        font-size: 8px;
    }

    .carousel-indicators li {
        overflow: visible;
    }
}

@media (max-width: 414px) {
    .navbar-toggler-right {
        right: 10rem;
        top: -6px;
    }

    ul.navbar-nav.ml {
        margin-left: 45%;
        background-color: $first-color;
        padding-left: 1rem;
    }

    .navbar .navbar-nav a.nav-link {
        color: $second-color;
    }

    .navbar .navbar-nav a.nav-link:active {
        color: #dae413;
        background-color: #2980b9;
        width: 1px;
        padding-right: 20%;
        padding-left: 1%;
        border-radius: 3px;
    }

    .navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
        color: #dae413;
        background-color: #2980b9;
        width: 1px;
        padding-right: 20%;
        padding-left: 1%;
        border-radius: 3px;
    }

    header {
        background-size: 129%;
        height: 267px;
    }

    .logo {
        position: relative;
        top: -1.5rem;
        left: -5rem;
    }

    .logo img {
        max-width: 58%;
    }

    .navbar-toggler {
        font-size: 12px;
    }

    .logo-img img {
        max-width: 26%;
    }

    .center-logo {
        top: 6.9rem;
    }

    .logo-img img {
        left: 1px;
    }

    .center-page a.button {
        font-size: 6px;
        padding: 3px 10px 3px 10px;
    }

    .buttons .sessions .img {
        top: 14.4rem;
        right: 9.6rem;

        // -webkit-mask-size: 32% 44%;
   
    }

    .text-scroll {
        top: 246px;
        right: 46%;
        font-size: 4px;
    }

    #services .title {
        margin-bottom: -9%;
        margin-top: -136px;
    }

    .title h2 {
        font-size: 14px;
    }

    #services .img3, #services .img2, #services .img1 {
        position: relative;
        left: -0.1rem;
    }

    h4.title2 {
        right: -0.3%;
    }

    #services p.text {
        margin-left: 11rem;
    }

    #services .row {
        position: relative;
        right: 4rem;
    }

    .portfolio-gallery {
        margin-top: 48%;
        position: relative;
        right: 8%;
        max-width: 62%;
    }

    #portfolio {
        height: 539px;
        -webkit-clip-path: polygon(51% 20%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
        clip-path: polygon(51% 20%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
        background-size: 185%;
        background-position: 16% 123%;
    }

    #portfolio .title h2 {
        margin-top: -1px;
    }

    #team .title h2 {
        right: 4rem;
        top: -1rem;
    }

    #team .title::after {
        margin-left: -77px;
        top: 165px;
    }

    #services .title::after {
        top: 19.4rem;
        margin-left: -3.4%;
    }

    .world-img {
        -webkit-mask-size: 33% 32%;
        -webkit-mask-position: 7% 0%;
    }

    .marker {
        top: 9.5%;
        right: 87%;
    }

    .marker2 {
        top: 7%;
        right: 78.5%;
    }

    .marker3 {
        top: 11.5%;
        right: 76.5%;
    }

    #clints .title h2 {
        margin-top: unset;
        font-size: 14px;
        position: relative;
        left: -4rem;
    }

    #clints .title::after {
        top: 11.1rem;
        left: 11rem;
    }

    #clints .text {
        margin-top: 36px;
        margin-left: 13%;
        font-size: 10px;
    }

    #team .text {
        margin-left: 12%;
        margin-top: -20px;
        width: 271px;
    }

    #team .row {
        margin-left: 6px;
        max-width: 78%;
    }

    .img-s {
        height: 46px;
    }

    .name {
        font-size: 4px;
    }

    .job {
        font-size: 6px;
    }

    #offices .title h2 {
        font-size: 14px;
        left: 0rem;
    }

    #offices .text {
        width: 33%;
        margin-left: 32%;
    }

    #offices {
        height: 454px;
        background-size: 167%;
    }

    .carousel {
        position: relative;
        right: 7rem;
    }

    .carousel-indicators li {
        width: 40px;
    }

    .carousel-indicators::after {
        width: 19rem;
    }

    .p-clinent {
        font-size: 8px;
    }

    .carousel-control.left {
        left: 1.5rem;
        top: -5.5rem;
    }

    .carousel-control.right {
        left: 17.5rem;
        top: -5.5rem;
    }

    .A::before {
        left: 8rem;
    }

    .B::before {
        left: 11rem;
    }

    .C::before {
        left: 15rem;
    }

    .D::before {
        left: 18rem;
    }

    .E::before {
        left: 21rem;
    }

    .F::before {
        left: 24rem;
    }

    #contact .title h2 {
        margin-top: 28px;
    }

    #contact {
        background-size: 245%;
    }

    #contact .title {
        top: 20%;
        right: -2%;
    }

    #contact .text {
        margin-top: 27%;
        margin-bottom: 11%;
        margin-left: 24%;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 21px;
    }

    .phone1 {
        margin-left: 1.5rem;
    }

    .copyright {
        margin-top: 35px;
        font-size: 6px;
        position: relative;
        right: 4rem;
    }
}

@media (max-width: 411px) {
    header {
        background-size: 132%;
    }
    .buttons .sessions .img {
        top: 14.4rem;
        left: calc(50% - 8px);
    }
}

@media (max-width: 390px) {
    header {
        background-size: 142%;
        background-position-x: 19%;
    }

    .logo-img img {
        left: 3px;
    }

    .center-page a.button {
        font-size: 6px;
        padding: 3px 10px 3px 10px;
    }

    .buttons .sessions .img {
        top: 14rem;

        /* -webkit-mask-size: 28% 35%; */
        right: 9rem;
    }

    .center-logo {
        right: -1%;
    }

    .text-scroll {
        top: 240px;
        right: 46.8%;
        font-size: 4px;
    }

    h4.title2 {
        right: 2.6%;
    }

    #services .img3, #services .img2, #services .img1 {
        position: relative;
        left: -1rem;
    }

    #services p.text {
        margin-left: 10.5rem;
    }

    .portfolio-gallery {
        right: 9%;
    }

    #team .title h2 {
        right: 4.5rem;
    }

    #team .title::after {
        margin-left: -87px;
    }

    #team .text {
        margin-left: 9%;
    }

    #team .row {
        margin-left: -3px;
    }

    #offices .title h2 {
        left: 0.2rem;
    }

    #offices .text {
        margin-left: 35%;
    }

    #clints .text {
        margin-left: 11%;
    }

    .care, .email, .twitter, .facebook {
        height: 35px;
        width: 35px;
    }

    .phone1 {
        margin-left: 2.5rem;
    }

    .text-contact {
        font-size: 9px;
    }

    .info {
        font-size: 7px;
    }

    .f {
        right: 25%;
    }

    .ff {
        right: 20%;
    }

    .copyright {
        margin-top: 47px;
    }
}

@media (max-width: 375px) {
    header {
        background-size: 144%;
    }

    ul.navbar-nav.ml {
        margin-left: 41%;
    }

    #services .img3, #services .img2, #services .img1 {
        position: relative;
        left: -1.4rem;
    }

    .paragraph {
        font-size: 5px;
    }

    h4.title2 {
        font-size: 10px;
        right: 3.5%;
    }

    #services p.text {
        margin-left: 10.1rem;
    }

    #services .title::after {
        top: 19.6rem;
    }

    #portfolio .title::after {
        top: 1rem;
    }

    .buttons .sessions .img {
        right: 8.5rem;
    }

    .center-logo {
        right: -2%;
    }

    .text-scroll {
        top: 240px;
        right: 45.8%;
    }

    .logo-img img {
        left: -3px;
    }

    .portfolio-gallery {
        right: 11%;
    }

    #team .title::after {
        top: 10.1rem;
        margin-left: -18.4%;
    }

    #team .title h2 {
        right: 5rem;
        top: -1rem;
    }

    #team .text {
        margin-left: 8%;
    }

    #team .row {
        margin-left: -4px;
    }

    #offices .title h2 {
        left: -0.1rem;
    }

    #offices .text {
        margin-left: 34%;
    }

    #clints .title h2 {
        left: -5.5rem;
    }

    #clints .text {
        margin-left: 8%;
    }

    #clints .title::after {
        left: 9.7rem;
    }

    #contact .title h2 {
        left: -0.2rem;
    }

    #contact .title::after {
        margin-left: -18px;
    }

    #contact {
        background-size: 251%;
    }

    #contact .text {
        margin-left: 20%;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 9px;
    }

    .copyright {
        right: 5rem;
    }
}

@media (max-width: 360px) {
    header {
        background-size: 149%;
    }

    ul.navbar-nav.ml {
        margin-left: 38%;
    }

    .buttons .sessions .img {
        right: 8rem;
        top: 14.2rem;
    }

    .text-scroll {
        right: 46%;
        top: 244px;
    }

    .logo-img img {
        left: 0px;
    }

    .paragraph {
        padding-top: 21%;
    }

    #services .img3, #services .img2, #services .img1 {
        position: relative;
        left: -1.9rem;
    }

    h4.title2 {
        right: 5.5%;
    }

    #services p.text {
        margin-left: 9.4rem;
    }

    .portfolio-gallery {
        right: 13%;
    }

    #team .title h2 {
        right: 5.4rem;
    }

    #team .title::after {
        margin-left: -20.4%;
    }

    #team .text {
        margin-left: 5%;
    }

    #team .row {
        margin-left: -9px;
    }

    #contact {
        background-size: 259%;
    }

    .copyright {
        right: 5.5rem;
    }
}

@media (max-width: 320px) {
    ul.navbar-nav.ml {
        margin-left: 24%;
    }

    .navbar-toggler-right {
        right: 15rem;
        top: -4px;
    }

    .navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
        padding-right: 18%;
    }

    header {
        background-size: 170%;
    }

    .logo-img img {
        max-width: 20%;
        top: -60px;
        left: 0;
    }

    .buttons .sessions .img {
        top: 14.4rem;
        right: 6.7rem;
        -webkit-mask-size: 23% 26%;
    }

    .text-scroll {
        top: 245px;
        right: 45.4%;
        font-size: 4px;
    }

    #services .img3, #services .img2, #services .img1 {
        position: relative;
        left: -3rem;
    }

    #services .title h2 {
        position: relative;
        right: -1%;
    }

    #services .title::after {
        top: 19.5rem;
    }

    #team .title::after {
        margin-left: -23.4%;
    }

    h4.title2 {
        font-size: 9px;
        right: 9%;
    }

    #services p.text {
        margin-left: 8.5rem;
    }

    .portfolio-gallery {
        margin-top: 48%;
        position: relative;
        right: 15.2%;
        max-width: 59%;
    }

    #portfolio {
        background-size: 254%;
    }

    #team .title h2 {
        right: 6.5rem;
    }

    #team .text {
        margin-left: 7%;
        width: 223px;
        font-size: 8px;
        margin-top: -21px;
    }

    #team .row {
        margin-left: -20px;
    }

    .title::after {
        top: 1rem;
        margin-left: -24%;
    }

    #offices .title h2 {
        left: 0.5rem;
    }

    .title::after {
        top: 1rem;
        margin-left: -3%;
    }

    #offices .text {
        margin-left: 35%;
    }

    .world-img {
        -webkit-mask-size: 30% 29%;
        -webkit-mask-position: 3% 1%;
    }

    .marker {
        right: 90.5%;
    }

    .marker2 {
        right: 82.5%;
    }

    .marker3 {
        top: 10.5%;
        right: 80.5%;
    }

    #clints .title h2 {
        margin-left: -3rem;
    }

    #clints .title::after {
        left: 8rem;
    }

    #clints .text {
        margin-left: 2%;
    }

    .carousel-indicators {
        margin-left: 20%;
        width: 63%;
    }

    .carousel-p {
        margin-left: -9.5rem;
    }

    .carousel-control.left {
        left: -0.2rem;
    }

    .carousel-control.right {
        left: 16rem;
    }

    .A::before {
        left: 6rem;
    }

    .B::before {
        left: 10rem;
    }

    .C::before {
        left: 13rem;
    }

    .D::before {
        left: 16rem;
    }

    .E::before {
        left: 19rem;
    }

    .F::before {
        left: 23rem;
    }

    #contact {
        background-size: 294%;
    }

    #contact .title::after {
        margin-left: -5%;
    }

    #contact .text {
        margin-left: 15%;
        margin-bottom: 19%;
    }

    .care, .email, .twitter, .facebook {
        height: 35px;
        width: 35px;
    }

    .text-contact {
        font-size: 8px;
        margin-bottom: -19%;
    }

    #contact .list-inline-item:not(:last-child) {
        margin-right: 18px;
    }

    .info {
        font-size: 6px;
    }

    .phone1 {
        margin-left: 4%;
    }

    .copyright {
        right: 6.5rem;
        font-size: 5px;
    }
}
